body {
    background-color: #eceff1;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: #58300d;
}

.show-container {
    padding: 0 10px;
}

.show-data {
    background-color: #cfd8dc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(128, 139, 147, 0.776);
}

.show-data img {
    display: block;
    margin: auto; /* center on mobile */
}

/* Ensure proper styling for desktop */
@media (min-width: 800px) {
    .show-data {
        display: flex;
    }

    /* Set proper image margin for desktop */
    .show-data img {
        margin: 0; /* Remove auto margins on desktop */
    }

    .show-info {
        padding: 10px;
    }
}

/* Media query for mobile screens */
@media (max-width: 800px) {
    .show-data img {
        margin: auto; /* Ensure images are centered on mobile */
    }

    .show-info p {
        text-align: center;
        padding: 10px;
    }
}
